<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/boxicons.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Contact</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="container px-0">
            <div class="col-6 col-md-4 col-lg-2 px-0">
                <a href="index.html" class="navbar-brand">Stream <i class="fa fa-video"></i></a>
            </div>
            <div class="col-7 col-lg-5 d-none d-md-block">
                <form action="" method="get" class="form-inline">
                    <input type="text" class="form-control" placeholder="Recherche">
                    <button type="submit" class="btn bg border ml-1"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="col-2 d-block d-md-none icones ml-auto px-0 justify-self-end">
                <i class="fa fa-search"></i> &nbsp;
                <i id="bars" class="fa fa-bars"></i>
            </div>
            <div id="menu" class="col-1 col-lg-5 d-none d-lg-block">
                <ul class="nav">
                    <!-- <li class="nav-item"><a href="#" class="nav-link">Catégories</a></li> -->
                    <li class="nav-item"><a href="admin.html" class="nav-link">Admin</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <li class="nav-item not ml-3"><a href="login.html" class="nav-link connexion">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
        
    <div class="container home">

        <div class="header w-50 mx-auto py-3 mt-5">
            <h2 style="color: #54718c;">Nous contacter <i class="fa fa-phone"></i></h2>
            <p>Fugit, distinctio ipsum. Accusantium quae, voluptatem </p>
        </div>
    
        <div class="d-flex justify-content-center align-items-center mb-4">
            <!-- <div class="col-5">
                <div class="bx bx-address"></div>
                <div class="bx bx-phone"></div>
                <div class="bx bx-location"></div>
            </div> -->
            <div class="col-7">
                <form action="index.html" method="post" id="login">
                    <input type="text" class="form-control" name="name" placeholder="Nom" required>
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                    <textarea name="message"  class="form-control" cols="30" rows="10" placeholder="Tapez votre message ici" required></textarea>
                    <button type="submit" class="btn bg-ligth mt-2">Envoyer</button>
                </form>
            </div>
        </div>

    </div>

    <footer>
        <div class="container text-center">
            <h2 class="mt-3 my-3">OnelineStream</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores quisquam in eveniet temporibus necessitatibus, sequi nisi nulla repudiandae sint dolorum placeat id animi fuga, fugiat itaque inventore aspernatur vitae. Explicabo.
                Quia ipsum explicabo ullam rerum quisquam optio veritatis voluptatibus quas molestias, consectetur maxime, totam laudantium, distinctio natus at eaque! Cumque eligendi a id placeat, sed fugit quaerat temporibus. Neque, dolorum.
                Nisi libero, officiis quas officia pariatur nulla aspernatur, exercitationem provident laborum earum temporibus facilis quibusdam. Molestias aperiam numquam error pariatur corrupti in deserunt mollitia. Voluptate, sapiente. Voluptas incidunt quos tempore.
            </p>
            <p class="mt-5">OnlineStream &copy; Copyrith 2022 by <a href="https://medikings.github.io" target="_blank"><u>Medi King's</u></a></p>
        </div>
    </footer>

    <script src="static/js/popper.min.js"></script>
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>