{% extends 'home/base.html' %}
{% load static %}

{% block title %}Detail Post{% endblock %}

{% block content %}
        
    <div class="container home">

        <div class="content py-3">
            <div class="row mt-2">
                <div class="col-md-2">
                    <img src="{{serie.picture}}" alt="{{serie.name}}" class="w-100">
                </div>
                <div class="col-md-7">
                    <div class="d-flex align-items-end mb-3">
                        <h2 class="m-0">{{serie.name}}</h2> &nbsp; &nbsp;
                        <small>Un film de Medi Kingura</small>
                    </div>
                    <h5>Synopsis</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed itaque dolore accusantium, dignissimos ea officia, soluta ullam ratione beatae totam deleniti minus aliquid magnam autem quam unde, libero delectus adipisci!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed itaque dolore accusantium, dignissimos ea officia, soluta ullam ratione beatae totam deleniti minus aliquid magnam autem quam unde, libero delectus adipisci!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed itaque dolore accusantium, dignissimos ea officia, soluta ullam ratione beatae totam deleniti minus aliquid magnam autem quam unde, libero delectus adipisci!</p>
                </div>
            </div>

            <section class="episodes">
                <div class="row justify-content-between align-items-center mb-2">
                    <div class="col-auto">
                        <h5>Episodes</h5>
                    </div>
                </div>
                <div class="row align-items-center">
                    {% for ep in episodes %}
                    <div class="col-lg-2 col-md-3 ep">
                        <p>
                            <a href="{% url 'home:play' ep.slug %}"><b>{{ep.title}}</b></a> <br>
                            <!-- <small>22 Jan 2022</small> -->
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

    </div>

    {% endblock %}
