{% extends 'home/base.html' %}
{% load static %}

{% block title %}Detail Post{% endblock %}

{% block content %}
        
    <div class="container home">

        <div class="cats my-2 mt-lg-4">
            <div class="row">
                <div class="col-auto">
                    <p class="cat">Action</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Humour</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Drame</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Amour</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Crime</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Aventure</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Chrétien</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Horreur</p>
                </div>
                <div class="col-auto">
                    <p class="cat">Histoire</p>
                </div>
            </div>

            <div class="banner mt-2">
                <img src="static/img/3.jpg" alt="">
            </div>
            <div class="details my-3">
                <h3>La dernière photo</h3>
            </div>

        </div>

        <div class="content py-3">
            
        </div>

    </div>

    {% endblock %}
